
@{
    ViewBag.Title = "StateManagementDemo";
}

<h2>StateManagementDemo</h2>

<h1>Ecode is: @ViewData["Ecode"]</h1>
<h1>Ecode is: @ViewBag.Ecode</h1>

<h1>Ename is: @ViewBag.Ename</h1>
<h1>Ename is: @ViewData["Ename"]</h1>

<h1>Country is: @TempData["Country"]</h1>

@using (Html.BeginForm())
{
    <input type="submit" value="submit" />
}

